.container {
    width: 100%;
}

.swap_button_wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.7rem 1rem;
    border: 0.1rem solid rgba(var(--accent_color_rgb), 0.1);
    border-radius: 1.2rem;
    background: rgba(var(--accent_color_rgb), 0.04);
    cursor: pointer;
    &:hover {
        border-color: rgba(var(--accent_color_rgb), 0.22);
        background-color: rgba(var(--accent_color_rgb), 0.08);
    }
    &:active {
        background-color: var(--dark_850_color);
    }
}

.narrow_arrow_down_svg {
    width: 1.6rem;
    color: var(--dark_500_color);
    &.reverse {
        transform: rotate(180deg);
    }
}

.label {
    font-size: 1.05rem;
    color: var(--dark_450_color);
    font-weight: 850;
    &.is_hovered {
        color: var(--dark_200_color);
    }
}
