.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.show_config.main_page {
    transform: translateY(0%);
}

.show_main.main_page {
    transform: translateY(0%);
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:
        var(--bg_radial_gradient),
        linear-gradient(135deg, var(--dark_875_color), var(--dark_800_color) 44%, var(--dark_850_color));
    position: relative;
}
