@import "@scss_mixins";

.switchbox_container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2.8rem;
}

.switchbox_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.6rem;
    height: 100%;
    flex-shrink: 0;
    &.is_pending {
        pointer-events: none;
    }
}

.toggle_control {
    position: relative;
    @include toggle_control_styles;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 0.8rem rgba(var(--accent_color_rgb), 0.18));
}

.loader {
    @include loader(2rem, 0.2rem, right, -4rem);
}
