@import "@scss_mixins";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.secondary_label {
    padding: 0 0.2rem;
    font-size: 1.15rem;
    color: var(--dark_450_color);
    white-space: nowrap;
    text-transform: uppercase;
}
