.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-shrink: 0;
}

.save_button {
    padding: 0.9rem 1.25rem;
    background-color: rgba(var(--accent_color_rgb), 0.16);
    border: 0.1rem solid rgba(var(--accent_color_rgb), 0.34);
    border-radius: 0.6rem;
    text-align: center;
    flex-shrink: 0;
    min-width: 5.4rem;
    transition: var(--transition_ui);
    &:hover {
        background-color: rgba(var(--accent_color_rgb), 0.24);
    }
    &:active {
        background-color: rgba(var(--accent_color_rgb), 0.12);
    }
    &.is_disabled {
        pointer-events: none;
        background-color: rgba(var(--accent_color_rgb), 0.08);
        border-color: rgba(var(--accent_color_rgb), 0.12);
    }
}

.save_button_label {
    font-size: 1.25rem;
    font-weight: 600;
}
